        ##################################################################
        #                                                                #
        #    This file is managed by Ansible, all changes will be lost   #
        #                                                                #
        ##################################################################



#################
#### MODULES ####
#################

$ModLoad imuxsock # provides support for local system logging
$ModLoad imklog   # provides kernel logging support

# Enable non-kernel facility klog messages
$KLogPermitNonKernelFacility on

###########################
#### GLOBAL DIRECTIVES ####
###########################

#
# Use traditional timestamp format.
# To enable high precision timestamps, comment out the following line.
#
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Filter duplicated messages
$RepeatedMsgReduction on

#
# Set the default permissions for all log files.
#
$FileOwner syslog
$FileGroup adm
$FileCreateMode 0640
$DirCreateMode 0755
$Umask 0022
$PrivDropToUser syslog
$PrivDropToGroup syslog

# Have not found out yet how to bind ip to role
# That's why before running in prod env. tst-vm2 should be replaced with prd-vm2
#*.* @{{ hostvars['tst-vm2']['ansible_eth0']['ipv4']['address'] }}:{{ rsyslog_port  }}
*.* @{{ hostvars[rsyslog_server]['ansible_eth0']['ipv4']['address'] }}:{{ rsyslog_port  }}


#
# Where to place spool and state files
#
$WorkDirectory /var/spool/rsyslog

#
# Include all config files in /etc/rsyslog.d/
#
$IncludeConfig /etc/rsyslog.d/*.conf
