; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "/var/log/riemann/riemann.log"})

; Uncomment after graphite install
; Graphite server - connection pool
;(def graph (graphite {:host "localhost"}))
;
; Email handler
(def email (mailer {:from "{{ riemann_email  }}"}))

;Include streams config 
(include "streams.clj")

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "{{ ansible_default_ipv4.address  }}"]
  (tcp-server {:host host})
  (udp-server {:host host})
  (ws-server  {:host host}))

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    (default :ttl 60
      ; Index all events immediately.
      index

      ; Log expired events.
      (expired
        (fn [event] (info "expired" event))))))

