
(def tell-ops (rollup 5 3600 (email "{{ ops_oncall }}")))

(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    (default :ttl 60
      ; Index all events immediately.
      index

      ; Log expired events.
      (expired
        (fn [event] (info "expired" event))))

      (by [:host :service]
          (where (state "error" tell-ops)))

      (by [:host :service]
          (changed-state {:init "ok"}
                         (stable 60 :state
			        (email "{{ ops_oncall }}"))))

      (by [:host :service]
          (where (and ("disk_free_bytes" < 5368709120)
                 ("disk_free_percentage" < 10))
	         (email "{{ ops_oncall }}")))
 )
)